body {
    background-color: #333333; /* Dark gray background */
    font-family: 'Roboto', 'Arial', sans-serif;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: #212121;
}

#card-container {
    display: flex;
    /* overflow: hidden; */
}

#genres-container button {
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 16px;
}

/* Button Hover Effect */
#genres-container button:hover {
    background-color: #e0e0e0; /* Light grey */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Active Genre Button Styling */
#genres-container button.active {
    background-color: #2196F3; /* Blue */
    color: white;
}

.card {
    background-color: white;
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    margin: 10px;
    min-width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Material design shadow */
    transition: transform 0.3s ease; /* Smooth transition for swiping */
}

.swiper {
    width: 600px;
    height: 300px;
  }

.overlay {
    height: 100%;
    width: 50%;
    background-color: aqua;
    opacity: 0.1;
    position: relative;
    /* z-index: 99; */
    margin-bottom: -50%;
}