body {
    background-color: rgb(73, 73, 73);
    font-family: oswald, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: white;
}

.name {
    color: white;
    font-family: bungee, sans-serif;
    font-size: 70px;
    font-weight: 600;
    margin-left: 50px;
    margin-bottom: 0;
    letter-spacing: 5px;
}

.home {
    width: 300px !important;
}

p {
    /* margin-top: 200px; */
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
}
.portfolio {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 0 20px 0 20px;
    padding: 50px 15px 50px 15px;
    transition: 0.5s;
    -o-transition:.15s;
    -ms-transition:.15s;
    -moz-transition:.15s;
    -webkit-transition:.15s;
    transition:.15s;
}

@media (max-width: 475px) {
    .name {
        font-size: 60px !important;
    }
    .portfolio {
        margin: 5px 5px 5px 5px;
        /* border-style: none; */
    }
    .tile {
        min-width: 325px !important;
        max-width: 325px !important;
        margin: 0 0 20px 0 !important;
    }
}

.pictures {
    color: white;
}

.tile {
    background-color: white;
    min-width: 400px;
    max-width: 400px;
    height: 200px;
    margin: 50px 50px 50px 50px;
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    -o-transition:.15s;
    -ms-transition:.15s;
    -moz-transition:.15s;
    -webkit-transition:.15s;
    transition:.15s;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.384);
}

.tile:hover p{
    opacity: 1;
}
.tile:hover{
    opacity: 0.8;
}

.tile p {
    opacity: 0;
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: 0px 2px 4px #0000007a;
    font-weight: 100;
    -o-transition:.15s;
    -ms-transition:.15s;
    -moz-transition:.15s;
    -webkit-transition:.15s;
    transition:.15s;
}

.t1 {
    background-image: url('/Ayli/Ayli1.png');
    background-size: 400px 200px;
}
.t2 {
    background-image: url('/Open Inventory/OI1.png');
    background-size: 400px 200px;
}
.t3 {
    background-image: url('/Cocoweb/CW1.png');
    background-size: 400px 200px;
}


.link
{

    color: rgb(217, 217, 245);
    text-decoration: none; 
    -o-transition:.15s;
    -ms-transition:.15s;
    -moz-transition:.15s;
    -webkit-transition:.15s;
    transition:.15s;
}

.link:hover {
    color: rgb(179, 179, 179)
}

.home
{
    color: rgb(255, 255, 255);
    text-decoration: none; 
    -o-transition:.15s;
    -ms-transition:.15s;
    -moz-transition:.15s;
    -webkit-transition:.15s;
    transition:.15s;
}

.home:hover {
    color: rgb(179, 179, 179);
}

